<container class="footer__container">
    <wrapper class="footer" bgcolor="#515151">
      <row class="collapsed">
        <columns small="12" large="4" valign="middle" class="footer__item footer_1">
          <strong>AGRO RURAL</strong><br><br>
          Av. Salaverry 1388,<br> 
          Jesús María 15072<br>
          Lima, Perú<br><br>

          <a href="tel:+5112058030">(511) 205-8030</a>
        </columns>
        <columns small="12" large="4" valign="middle" class="footer__item footer_2">
          <strong>&nbsp;</strong><br><br>
          <a href="http://www.agrorural.gob.pe">Portal Web</a><br> 
          <a href="http://intranet.agrorural.gob.pe/agronet">Intranet</a><br> 
          <a href="http://intranet.agrorural.gob.pe/agronet">Sistema de Trámite</a><br><br><br>
        </columns> 
        <columns small="12" large="4" valign="middle" class="footer__item footer_3">
           <menu>
              <item href="https://www.facebook.com/agroruralfans"><img src="http://mailing.agrorural.gob.pe/2017/el-peruano/assets/img/fb__icon.png" class="float-right" alt=""></item>
              <item href="http://www.twitter.com/agrorural"><img src="http://mailing.agrorural.gob.pe/2017/el-peruano/assets/img/tw__icon.png" class="float-right" alt=""></item>
              <item href="http://www.youtube.com/pnmsperu"><img src="http://mailing.agrorural.gob.pe/2017/el-peruano/assets/img/yt__icon.png" class="float-right" alt=""></item>
            </menu>
        </columns>
      </row>
    </wrapper>
    <wrapper bgcolor="#fefefe">
      <row>
        <columns small="1" large="1"></columns>
        <columns small="10" large="10">
          <center>
            <menu>
              <item href="http://www.minagri.gob.pe"><img class="small-float-center" src="http://mailing.agrorural.gob.pe/2017/el-peruano/assets/img/logo__minagri.jpg"></item>
              <item href="http://www.peru.gob.pe"><img class="small-float-center" src="http://mailing.agrorural.gob.pe/2017/el-peruano/assets/img/logo__todos.jpg"></item>
            </menu>          
          </center>
        </columns>
        <columns small="1" large="1"></columns>
      </row>

      <row class="footer__pos">
        <columns large="12" valign="middle">
          <center>
          Toda la información contenida en este mensaje es confidencial y de uso exclusivo de AGRO RURAL. <br>Si ha recibido este mensaje por error, por favor proceda a eliminarlo y notificar al remitente.
          </center>
        </columns>
      </row>
  </wrapper>
</container>

<spacer size="16"></spacer>
