<container class="super_header__container">
	<row class="header__super">
		<columns large="12" valign="middle">
			<center>Si tienes problemas para ver este correo, <a href="http://mailing.agrorural.gob.pe/2017/07/13-normas/index.html">da clic aquí</a>
			</center>
		</columns>
	</row>
</container>

<container>
	<wrapper class="header__container" bgcolor="#bdccd4">
		<spacer size="16"></spacer>

		<row class="header__brand">
			<columns small="12" large="12" valign="middle">
				<center>
					<a href="http://www.agrorural.gob.pe" target="_blank" class="header__brand__logo">
						<img class="float-center" src="http://mailing.agrorural.gob.pe/2017/el-peruano/assets/img/logo.png">
					</a>
					<p class="text-center header__brand__email_tag">/&nbsp;&nbsp;Comunicado&nbsp;&nbsp;/</p>
				</center>
			</columns>
		</row>
	</wrapper>
</container>